    <script type="text/javascript">
    jQuery(function($) {
      $(".swipebox").swipebox();
    });
  </script>

  <div class="content">
    <div class="container" style="padding: 100px 5px;">
      <div class="container-fluid dapibus">
        <%@albums.each do |album|%>
        <div class="row">
          <div class="col-sm-12">
            <div class="page-header">
              <h1><%= album.title%></h1>
              <p>Posted by <span class="glyphicon glyphicon-user"></span> <a href="#">Admin</a> on <span class="glyphicon glyphicon-time"></span> <%= album.updated_at%></p>
              <div class="caption" style="text-align: justify;">
                <h5>Ut wisi enim ad minim veniam, quis nostrud exerci ksjdfkndskjgn kjenrkfdv  dnfv d sjefjfgoiven  idnrvfkend ox idnfkvnd jndf or iom vi oikm knon knoek mwoenw  v nwesofnvk nonkiwngevnodf vk owe sivknxokv on wk ovw ekind eknodkfx vnkwe vkensoen.</h5>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->
        <div class="row margin-b-2">
          <%album.images.each do |image|%>
          <div class="col-sm-6 col-md-3">
            <%=image_tag( image.avatar.url ,class:"img-responsive thumbnail") %>
          </div>
          <%end%>
        </div>
        <%end%>
      </div>
    </div>
  </div>

