    <script type="text/javascript">
    jQuery(function($) {
      $(".swipebox").swipebox();
    });
  </script>
  <div class="photos">
    <div class="container">
    <h2>Albums</h2>
      <!-- portfolio-section -->
      <%@albums.each do |album|%>
      <div class="portfolio"  id="portfolio">
        <div id="portfoliolist">
          <h4> <%= raw(album.title)%></h4>
          <%album.images.each do |image|%>
          <div class="portfolio app mix_all  wow bounceIn" data-wow-delay="0.4s" data-cat="app" style="display: inline-block; opacity: 1;">
            <div class="portfolio-wrapper grid_box last">
              <%=image_tag( image.avatar.url ,size: "150x200",class:"img-responsive") %><span class="zoom-icon"></span> </a>
            </div>
          </div>
          <%end%>   
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <%end%>
    </div>
  </div>