<!DOCTYPE html>
<html>
  <head>
    <title>EventHost</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
		<div class="wrapper clearfix">
			<div id="logo">
				<a href="index.html"><img src="images/logo12.png" alt="LOGO" height="100px" width="300px"></a>
			</div>
			<ul id="navigation">
				<li class="selected">
					<a href="index.html">Home</a>
				</li>
				<li>
					<a href="about.html">About</a>
				</li>
				<li>
					<a href="blog.html">Blog</a>
				</li>
				<li>
					<a href="gallery.html">Gallery</a>
				</li>
				<li>
					<a href="contact.html">Contact Us</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<!-- <div id="adbox">
			<div class="wrapper clearfix">
				<div class="info">
					<h1>Sonsectetur adipiscing elit.</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae quam et tortor consequat porta. Sed faucibus, ligula quis mollis lobortis, diam felis tempus enim, a vestibulum eros quam ac magna. Vestibulum varius porttitor elit, et vulputate odio egestas sit amet.
					</p>
				</div>
			</div>
			<div class="highlight">
				<h2>Lorem ipsum dolor sit amet - <i>consectetur adipiscing elit.</i></h2>
			</div>
		</div> -->
		<%= yield %>
		<div class="body clearfix">
			<div class="click-here">
				
				<img class="click-here bold" src="images/Banner1.png" alt="Img" height="230" width="220"> </a>
			</div>
			<p style="font-size:12px;">
			<!-- <h1>Dance Pe Dance</h1> -->
				 Enter your text here about album Enter your text here about album Enter your text here about album Enter your text here about album Enter your text here about album Enter your text here about album Enter your text here about album Enter your text here about album  
			</p>
		</div>
	</div>
	<div id="footer">
		<ul id="featured" class="wrapper clearfix">
			<li>
				<a href="dance.html">
				<img class="img-circle bold" src="images/buttons_2.png" alt="Img" height="204" width="220"></a>
			</li>
			<li>
			<a href="SurTaal.html">
				<img class="img-circle bold" src="images/buttons.png" alt="Img" height="204" width="220"></a>
				
			</li>
			<li>
			<a href="actingKing.html">
				<img class="img-circle bold" src="images/buttons_3.png" alt="Img" height="204" width="220"></a>
				
			</li>
			<li>
			<a href="bhojpuriya.html">
				<img class="img-circle bold" src="images/buttons_4.png" alt="Img" height="204" width="204"></a>
				
			</li>

		</ul>
		<div class="body">
			<div class="wrapper clearfix">
				<div id="links">
					<div>
						<h4>Connect With Us</h4>
						<!-- <ul>
							<li>
						 -->		<a class = "test" href="https://plus.google.com/u/0/up/subscribe" target="_blank">Google +</a><br>
							<!-- </li>
							<li> -->
								<a class = "test" href="http://www.facebook.com/" target="_blank">Facebook</a><br>
							<!-- </li>
							<li> -->
								<a class = "test" href="http://www.youtube.com/" target="_blank">Youtube</a><br>
							
							<!--  -->
					</div>
									<p class="footnote">
					© Copyright © 2023.Company name all rights reserved
				</p>
				</div>
				

			</div>
		</div>
	</div>
    
  </body>
</html>
